.directional {
	.button {
		line-height: 100px;
		padding: 0;
		background-color: rgba(255,255,255,0.1);
		position: relative;
		padding: 0 110px 0 40px;
		display: inline-block;
		font-size: 40px;
		font-weight: bold;

		cursor: pointer;
		transition: 0.5s all ease;

		&:hover {
			background-color: rgba(255,255,255,0.2);
		}
	}
	svg {
	  display: block;
		width: 60px;
	  height: 60px;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	svg .line {
	  fill: none;
	  stroke: #000;
	  stroke-width: 5;
	  stroke-linecap: round;
	}

	svg .line {
	  transform: translateX(-1px);
	  transition: 0.5s all ease;
	}

	.button:hover svg .line {
	  transform: translateX(0px);
	}

	svg .show {
	  stroke-dasharray: 22 24;
	  stroke-dashoffset: -22;
	  transition: 0.5s all ease;
	}

	.button:hover svg .show {
	  stroke-dashoffset: 0;
	}
}
