button.hamburger {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 50px 0;

  svg {
    display: block;
    width: 200px;
    height: 200px;
  }

  .line {
    fill: none;
    stroke: #fff;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  /* Hamburger */
  .line.cross {
    transition: 0.25s stroke-dasharray ease 0.25s,
      0.25s stroke-dashoffset ease 0.25s,
      0.25s stroke ease 0s;
  }

  .line.top {
    transition: 0.5s stroke-dasharray ease 0s,
      0.5s stroke-dashoffset ease 0s,
      0.25s stroke ease 0s;
  }

  .line.bottom {
    transition: 0.5s stroke-dasharray ease 0.25s,
      0.5s stroke-dashoffset ease 0.25s,
      0.25s stroke ease 0s;
  }

  .line.top,
  .line.bottom {
    stroke-dasharray: 50 600;
    stroke-dashoffset: 0;
  }

  .line.cross {
    stroke-dashoffset: 0;
    stroke-dasharray: 50 60;
  }

  /* Cross */
  &.on .line.cross {
    transition: 0.25s stroke-dasharray ease 0s,
      0.25s stroke-dashoffset ease 0s,
      0.25s stroke ease 0s;
  }

  &.on .line.top,
  &.on .line.bottom {
    stroke-dasharray: 70.71 600;
    stroke-dashoffset: -392;
  }

  &.on .line.cross {
    stroke-dashoffset: 51;
  }
}

button.hamburger.notanimated {
	.line {
		stroke-dashoffset: 0 !important;
	  stroke-dasharray: 0 !important;
		transform: translateY(0px) !important;
	}
}

button.hamburger.bigslow {
	padding: 0;

	svg {
	  display: block;
	  width: 300px;
	  height: 300px;
	}

	/* Hamburger */
	.line {
	  transition: 1s stroke-dasharray ease 0s,
	    1s stroke-dashoffset ease 0s,
	    1s transform ease 1s,
	    1s stroke ease 0s;
	}
	/* Cross */
	&.on .line {
	  transition: 1s stroke-dasharray ease 1s,
	    1s stroke-dashoffset ease 1s,
	    1s transform ease 0s,
	    1s stroke ease 0s;
	}
}

button.hamburger.bigslow:hover .line {
  stroke: #fff;
}

#hamburger-demo {
	display: block;
	width: 220px;
	height: 220px;
	margin: 0 auto;

  .line {
    fill: none;
    stroke: #FFF;
    stroke-linecap: round;
    stroke-width: 5;
    transition: 1s all ease;
  }

	.rail {
		fill: none;
		stroke: white;
		stroke-width: 1;
		// stroke-dasharray: 10;
		stroke-linecap: round;
		stroke-opacity: 0.5;
	}

  .line.top,
  .line.bottom {
    stroke-dasharray: 463.25274658203125;
    stroke-dashoffset: 463.25274658203125;
  }

  .line.cross {
    stroke-dashoffset: 60;
    stroke-dasharray: 50 60;
  }

	&.one {
    .line.top,
    .line.bottom {
      stroke-dasharray: 50 600;
      stroke-dashoffset: 0;
    }

    .line.cross {
      stroke-dashoffset: 0;
      stroke-dasharray: 50 60;
    }
	}
	&.two {
    .line.top,
    .line.bottom {
      stroke-dasharray: 70.71 600;
      stroke-dashoffset: -392;
    }

    .line.cross {
      stroke-dashoffset: 51;
    }
	}
}
